In [7]:
import yfinance as yf
import csv
import pandas as pd

In [5]:
tsla = yf.download("TSLA", start='2021-01-01')
pickle.dump("")

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,239.820007,248.163330,239.063339,243.256668,243.256668,145914600
2021-01-05,241.220001,246.946671,239.733337,245.036667,245.036667,96735600
2021-01-06,252.830002,258.000000,249.699997,251.993332,251.993332,134100000
2021-01-07,259.209991,272.329987,258.399994,272.013336,272.013336,154496700
2021-01-08,285.333344,294.829987,279.463318,293.339996,293.339996,225166500
...,...,...,...,...,...,...
2024-06-24,184.970001,188.800003,182.550003,182.580002,182.580002,61992100
2024-06-25,184.399994,187.970001,182.009995,187.350006,187.350006,63678300
2024-06-26,186.539993,197.759995,186.360001,196.369995,196.369995,95737100
2024-06-27,195.169998,198.720001,194.050003,197.419998,197.419998,72746500
2024-06-28,199.550003,203.199997,195.259995,197.880005,197.880005,95302700

In [6]:
msft = yf.download("MSFT", start='2021-01-01')
msft

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,222.529999,223.000000,214.809998,217.690002,211.224319,37130100
2021-01-05,217.259995,218.520004,215.699997,217.899994,211.428085,23823000
2021-01-06,212.169998,216.490005,211.940002,212.250000,205.945892,35930700
2021-01-07,214.039993,219.339996,213.710007,218.289993,211.806458,27694500
2021-01-08,218.679993,220.580002,217.029999,219.619995,213.097000,22956200
...,...,...,...,...,...,...
2024-06-24,449.799988,452.750000,446.410004,447.670013,447.670013,15913700
2024-06-25,448.250000,451.420013,446.750000,450.950012,450.950012,16747500
2024-06-26,449.000000,453.600006,448.190002,452.160004,452.160004,16507000
2024-06-27,452.179993,456.170013,451.769989,452.850006,452.850006,14806300
2024-06-28,453.070007,455.380005,446.410004,446.950012,446.950012,28333300